$bright_blue: rgb(0, 150, 255);
$margin-left-value: 20px;
$medium-spring-green: rgb(0, 250, 154);

.dashboard{
    z-index: -2;

    .logo_nav{
        display: grid;
        align-items: center;
        height: fit-content;

        .logo_wrapper{
            display: grid;
            height: fit-content;
            width: fit-content;
            //border: 2px red solid;

            img{
                margin: auto;
                height: 40px;            
                width: 85px;
                padding: 20px 20px;
            }
        }
        
        @media screen and (min-width: 992px) {
            .logo_wrapper{
                img{
                    padding: 20px 60px;
                }
                
                img:hover{
                    cursor: pointer;
                }
            }
        }
        
        @media screen and (min-width: 1500px) {
            .logo_wrapper{
                img{
                    height: 80px;
                    width: 150px;
                    padding: 40px 40px;
                }
            }
        }
    }

    .welcome{
        margin-top: 40px;
        margin-left: $margin-left-value;
        font-weight: bold;
    }

    .last_sign_in{
        margin-left: $margin-left-value;
        margin-bottom: 20px;
    }

    .open_new_account{
        margin: 20px $margin-left-value;
        border: 2px solid $bright_blue;
        border-radius: 10px;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        color: $bright_blue;
        background-color: white;
        transition: 0.3s;
    }

    .open_new_account:hover{
        cursor: pointer;
        background-color: $bright_blue;
        color: white;
    }

    .open_new_account:active{
        transform: translateY(-5px);
        background-color: blue;
    }

    .phone_menu{ 
        .button_group{
            display: grid;
            grid-template-columns: 50% auto;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 95%;
    
            button{
                font-size: 18px;
                padding: 30px 0px;
                transition: 0.3s;
                color: $bright_blue;
                border: none;
            }
    
            .active_button{
                border-bottom: 5px $bright_blue solid;
                box-shadow: 3px 3px 8px 2px #888888;
                background-color: white;
                z-index: 2;
            }
        }

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    .desktop_view{
        //Hide the display on mobile devices...
        display: none;

        //And unhide it on Desktops
        @media screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: 75% auto;
            margin: auto;
        }
    }
}