$bright_blue: rgb(0, 150, 255);
$margin-left-value: 20px;
$medium-spring-green: rgb(0, 250, 154);

.welcome{
    margin-top: 40px;
    margin-left: $margin-left-value;
    font-weight: bold;
}

.last_sign_in{
    margin-left: $margin-left-value;
    margin-bottom: 20px;
}

.open_new_account{
    margin: 20px $margin-left-value;
    border: 2px solid $bright_blue;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: $bright_blue;
    background-color: white;
    transition: 0.3s;

    &:hover{
        cursor: pointer;
        background-color: $bright_blue;
        color: white;
    }

    &:active{
        transform: translateY(-5px);
        background-color: blue;
    }
}