.account{
    display: grid;
    grid-template-areas: "name" "funds" "options";
    border: 1px solid black;
    width: 95%;
    margin: auto;

    .account_name_wrapper{
        display: grid;
        border: 2px green solid;
    }

    .account_name{
        display: flex;
        align-items: center;
        grid-area: name;

        padding: 20px 20px;
        font-weight: bold;  
        font-size: 20px;
        
        @media screen and (min-width: 768px) {
            font-size: 25px;   
        }
    }
    
    .options{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-area: options;
        margin: auto;

        .option{
            text-decoration: underline;
            padding: 20px 20px;
        }

        .option:hover{
            cursor: pointer;
            background-color: azure;
        }

        @media screen and (min-width:768px) {
            width: fit-content;
            font-size: 20px;
        }

        @media screen and (min-width: 992px) {
            font-size: 18px;
        }
    }

    .funds_wrapper{
        grid-area: funds;

        .available_now_wrapper{
            margin: 0px 20px;

            .available_balance{
                padding: 20px 0px;
            }
        }

        .on_deposit_wrapper{
            margin: 0px 20px;

            .on_deposit_balance{
                padding: 20px 0px;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;

            .available_now_wrapper{
                font-size: 20px;
            }

            .on_deposit_wrapper{
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        justify-content: space-between;
        grid-template-areas: "name options"
                             "funds funds";
    }
}