.new_account_form{
    $bright_blue: rgb(0, 150, 255);

    .input_group{
        width: fit-content;
        margin: auto;
        margin-bottom: 10px;
        font-size: 20px;

        input{
            border: 2px solid black;
            border-radius: 5px;
            font-size: 15px;
        }

        select{
            font-size: 15px;
        }
    }

    .new_account_error{
        text-align: center;
        color: red;
        padding: 10px 0px;
    }

    .submit{
        margin: auto;
        width: fit-content;

        input{
            background-color: $bright_blue;
            border: none;
            color: white;
            font-size: 15px;
            padding: 10px;
            border-radius: 5px;
            transition: 0.5s;

            &:hover{
                cursor: pointer;
                background-color: grayscale($color: $bright_blue);
            }
        }
    }
}