$padding_value: 10px;
$google_blue: rgb(65,105,225);
$darker_google_blue: rgb(35,85,250);

@mixin buttonStyling($color) {
    margin: auto;
    width: 90%;  
    background-color: $color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;   
    padding: 10px 0px;
    transition: 0.3s;
}

.signin{
    height: fit-content;
    padding: 20px 0px;
}

.signup{
    height: fit-content;
    padding: 20px 0px;
}

.registration{
    margin: auto;
    width: 90%;
    background-color: white;
    border-radius: 5px;

    .title{
        font-size: 30px;
        padding: $padding_value;
        // margin-bottom: 10px;
    }

    .input{
        padding: 5px $padding_value;

        input{     
            margin: auto;   
            width: 95%;
            font-size: 20px;
            border: 2px solid black;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
        }
    }

    .signup_error{
        color: red;
        text-align: center                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
    }

    .checkbox{
        display: flex;
        padding: 0px $padding_value;
        margin: 5px;
    }

    .signin_redirect{
        text-align: center;
        margin: 15px 0px;
        
        b{  
            text-decoration: underline;        
            transition: 0.3s;
        }
    }    

    .submit{
        display: grid;
        margin-top: 10px;

        .submit_form_button{        
            @include buttonStyling(rgb(0, 0, 255));

            @media screen and (min-width: 992px) {
                
            }

            @media screen and (min-width: 1500px) {
                font-size: 30px;
            }
        }

        .google_button{
            display: grid;
            grid-template-columns: 20% auto;

            width: 90%;
            margin: auto;
            margin-top: 10px;

            text-decoration: none;
            background-color: $google_blue;
            border: 2px solid $google_blue;
            border-radius: 5px;
            transition: 0.3s;

            .google_icon_wrapper{
                display: grid;
                height: 100%;
                margin: auto;
                background-color: white;

                img{
                    height: 55%;
                    width: 45%;
                    margin: auto;
                }
            }

            .button_text{
                text-align: center;
                font-size: 18px;
                padding: 10px;
                color: white;
            }
        }

        @media screen and (min-width: 768px) {
            .google_button{
                grid-template-columns: 8% auto;
            }
        }

        @media screen and (min-width: 992px) {
            .google_button{
                grid-template-columns: 15% auto;
            }
        }

        @media screen and (min-width: 1500px) {
            .google_button{
                grid-template-columns: 15% auto;

                .google_icon_wrapper{
                    img{
                        height: 65%;
                        width: 55%;
                        margin: auto;
                    }
                }

                .button_text{
                    font-size: 30px;
                }
            }
        }
    }

    .create_account{
        display: grid;

        button{
            @include buttonStyling(rgb(34, 139, 34));
        }
    }
}

//Goes on the outside because I am targeting the parent element ".registration"
@media only screen and (min-width: 768px){
    .registration{
        .title{
            font-size: 45px;
            text-align: center;
        }
       
        .input{
            .form_label{
                font-size: 28px;
            }

            input{
                font-size: 28px;
            }
        }

        .checkbox{
            font-size: 30px;
            margin: 20px 0px;
            
            input{
                width: 30px;
                height: 30px;
            }
        }

        .signin_redirect{
            font-size: 30px;
            margin: 50px 0px;
        }

        .submit{
            button{
                font-size: 23px;
                padding: 10px 0px;
            }
        }

        .create_account{
            button{
                font-size: 23px;
                padding: 10px 0px;
            }
        }
    }
}

//Goes on the outside because I am targeting the parent element ".registration"
@media only screen and (min-width: 992px) {
    .registration{
        .title{
            font-size: 40px;
        }

        .input{
            input{
                font-size: 25px;
            }
        }

        .checkbox{
            font-size: 25px;
            margin: 20px 0px;
            
            input{
                width: 25px;
                height: 25px;
            }
        }

        .signin_redirect{
            font-size: 20px;
            margin: 50px 0px;

            b:hover{
                cursor: pointer;
                color: red;
            }
        }

        .submit{ 
            .google_button:hover{
                background-color: $darker_google_blue
            }

            .submit_form_button:hover{
                cursor: pointer;
                background-color: rgb(0, 0, 100);
            }

            .submit_form_button:active{
                transform: translateY(-5px);
            }
        }

        .create_account{
            button:hover{
                cursor: pointer;
                background-color: rgb(0, 100, 0);
            }
            
            button:active{
                transform: translateY(-5px);
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    .registration{
        .title{
            font-size: 80px;
        }

        .input{
            padding: 15px 20px;

            .form_label{
                font-size: 40px;
            }

            input{
                font-size: 40px;
                width: 90%;
            }
        }

        .checkbox{
            font-size: 40px;
            margin: 50px 0px;
            
            input{
                width: 40px;
                height: 40px;
            }
        }

        .signin_redirect{
            font-size: 30px;
        }

        .submit, .create_account{
            button{
                font-size: 30px;
                padding: 20px 0px;
            }
        }
    }
}